In [1]:
import pandas as pd
from pathlib import Path

In [2]:
input_file = Path.cwd()/'data'/'raw'/'course_income.csv'

In [3]:
df = pd.read_csv(input_file)

In [4]:
df

,Course,Code,First Session,Day,Start,Sessions,Tot-Stus,Concession-Stus,CM Fee,Operating Fee,Concession Fee,Total Income
0,Yoga - Autumn Break,AB11,4-Apr-2023 4:15pm,Tue,4:15pm,3,3,0,$4.05,$90.00,$0.00,$165.00
1,Botanical Ink Drawing for Beginners One Day Wo...,AB19,14-Apr-2023 9:00am,Fri,9:00am,1,5,0,$2.25,$300.00,$0.00,$800.00
2,Workshop: The Art of Découpage,AB20,12-Apr-2023 10:30am,Wed,10:30am,1,4,0,$1.80,$105.00,$0.00,$300.00
3,Spanish Conversation Club - Beginners,AB21a,6-Apr-2023 10:00am,Thu,10:00am,4,3,0,$5.40,$0.00,$0.00,$120.00
4,Spanish Conversation Club - Intermediate,AB21b,6-Apr-2023 11:00am,Thu,11:00am,4,3,0,$5.40,$0.00,$0.00,$120.00
...,...,...,...,...,...,...,...,...,...,...,...,...
76,Cryptic Crosswords Friday Club,SC30,5-May-2023 9:30am,Fri,9:30am,8,4,0,$14.40,$0.00,$0.00,$220.00
77,WA Mahjong 1-day Festival - mahjongwa.org.au,SC32,15-Apr-2023 9:00am,Sat,9:00am,1,96,1,$21.70,$0.00,$0.00,"$1,940.00"
78,SPLC Current Affairs Forum,SC33,1-May-2023 2:15pm,Mon,2:15pm,8,11,0,$37.60,$0.00,$0.00,$660.00
79,St John WA Automated External Defibrillator (A...,T38,14-Jun-2023 3:00pm,Wed,3:00pm,1,20,0,$6.50,$240.00,$0.00,$0.00
80,NaN,NaN,NaN,NaN,NaN,411,506,34,"$1,076.70",23535,$0.00,"$40,535.71"

## Lose the unwanted columns

In [5]:
df.drop(['Day','Start','Concession-Stus','CM Fee','Concession Fee'], axis=1, inplace=True)

## Remove the dollar sign and comma from e.g. $1,500

In [6]:
df['Total Income']=df['Total Income'].str.lstrip('$')
df['Operating Fee']=df['Operating Fee'].str.lstrip('$')
df['Total Income']=df['Total Income'].str.replace(',','')
df['Operating Fee']=df['Operating Fee'].str.replace(',','')

## Change the strings to numeric

In [7]:
df['Total Income']=df['Total Income'].str.lstrip('$')
df['Operating Fee']=df['Operating Fee'].str.lstrip('$')
df['Total Income']=df['Total Income'].str.replace(',','')
df['Operating Fee']=df['Operating Fee'].str.replace(',','')
df['Total Income']=pd.to_numeric(df['Total Income'])
df['Operating Fee']=pd.to_numeric(df['Operating Fee'])

## Calculate and add the Profit column

In [8]:
df['Profit']=df['Total Income']-df['Operating Fee']

## Sort by Profit

In [9]:
df = df.sort_values('Profit', ascending=False)

In [10]:
df

,Course,Code,First Session,Sessions,Tot-Stus,Operating Fee,Total Income,Profit
80,NaN,NaN,NaN,411,506,23535.0,40535.71,17000.71
77,WA Mahjong 1-day Festival - mahjongwa.org.au,SC32,15-Apr-2023 9:00am,1,96,0.0,1940.00,1940.00
20,Brilliant Watercolour for Beginners,AC64,2-May-2023 12:30pm,9,10,900.0,2000.00,1100.00
19,Botanical Ink Beginners and Ongoing,AC63,2-May-2023 9:30am,9,10,900.0,2000.00,1100.00
72,Mahjong Wednesday Club,SC15,3-May-2023 9:30am,8,18,0.0,1080.00,1080.00
...,...,...,...,...,...,...,...,...
15,Ikebana Japanese Art,AC26a,13-Jun-2023 10:00am,3,6,360.0,290.62,-69.38
52,French Intermediate,L7,3-May-2023 11:00am,8,3,600.0,480.00,-120.00
14,Ikebana Japanese Art,AC26a,14-Mar-2023 10:00am,3,6,360.0,206.25,-153.75
79,St John WA Automated External Defibrillator (A...,T38,14-Jun-2023 3:00pm,1,20,240.0,0.00,-240.00
12,Advanced Drawing Techniques,AC7b,4-May-2023 9:30am,8,4,960.0,690.00,-270.00

In [11]:
df = df[["Course","Code","First Session","Sessions","Tot-Stus","Total Income","Operating Fee","Profit"]]

In [12]:
df

,Course,Code,First Session,Sessions,Tot-Stus,Total Income,Operating Fee,Profit
80,NaN,NaN,NaN,411,506,40535.71,23535.0,17000.71
77,WA Mahjong 1-day Festival - mahjongwa.org.au,SC32,15-Apr-2023 9:00am,1,96,1940.00,0.0,1940.00
20,Brilliant Watercolour for Beginners,AC64,2-May-2023 12:30pm,9,10,2000.00,900.0,1100.00
19,Botanical Ink Beginners and Ongoing,AC63,2-May-2023 9:30am,9,10,2000.00,900.0,1100.00
72,Mahjong Wednesday Club,SC15,3-May-2023 9:30am,8,18,1080.00,0.0,1080.00
...,...,...,...,...,...,...,...,...
15,Ikebana Japanese Art,AC26a,13-Jun-2023 10:00am,3,6,290.62,360.0,-69.38
52,French Intermediate,L7,3-May-2023 11:00am,8,3,480.00,600.0,-120.00
14,Ikebana Japanese Art,AC26a,14-Mar-2023 10:00am,3,6,206.25,360.0,-153.75
79,St John WA Automated External Defibrillator (A...,T38,14-Jun-2023 3:00pm,1,20,0.00,240.0,-240.00
12,Advanced Drawing Techniques,AC7b,4-May-2023 9:30am,8,4,690.00,960.0,-270.00

In [13]:
df.to_csv('hurrah.csv',index=False)